<h1>Senate and House Committees</h1>

<ul>
  {{#each model as |committee|}}
    <li>{{#link-to 'subcommittee' committee.committee_id}}{{committee.name}} // {{committee.chamber}} {{/link-to}}</li>
  {{/each}}
</ul>
